https://www.rfc-editor.org/rfc/rfc9110.html#name-deprecation-of-userinfo-in-

The production you have for an account-based fedi URI looks like the original HTTP syntax for including userinfo, which has been deprecated:  https://www.rfc-editor.org/rfc/rfc9110.html .  I think the same reasoning applies here, and there seems to be an easy fix:  switch that to be parallel to the other constructions by making "account" parallel to search or hashtag (so that it follows an indicator that this is an "account" pointer, as the others have indicators that they are search or hashtag pointers).  I also don't think you need the double slash and following slash for those pointers, as this would no longer have an "authority" component. (So a production closer to the tel URI scheme)


That's not really what that says. It says that specifically the "user:password" userinfo format is deprecated in URIs, and then that there are some circumstances under which an http(s) URI which has any userinfo must not be sent. I don't really know if this practically makes userinfo invalid in http(s), but at least it doesn't outright say so.

It doesn't matter what http(s) does though. Having a username in the userinfo of a fedi URI is perfectly valid according to what you've linked.

---

I agree with you that the use of "authority" is incorrect and I want to open a separate issue for that.

Thanks for opening the other issue for "authority"; I'll look at it and see if there is anything to add.

I was being a bit telegraphic when I said "I think the same issues apply", sorry for that.  If you look at RFC 3986, Section 7.6 on the semantic attacks which are crafted using userinfo inside the authority production, you'll see part of the reasoning I think applies here.  With mailto or sip URIs, the userinfo is perfectly fine and I think it could be used here in a different structure.

I see what you mean. That's a fair concern. So what I'm understanding is that the fudamental issue is having both `fedi://user@host` and `fedi://other`. if we only had the first, then someone would know that `fedi://something-very-long-to-obscure-that-this-is-not-a-host@actual-host` begins with a user name; and if we only had the second then it would just be an invalid `fedi:` URi; but allowing both forms makes the issue possible.